.container{
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    width: 100%;
    position: fixed;
    top: 0;
    opacity: 0.5;
    color: black;
    z-index: 2;
    white-space: nowrap;
}

nav:hover {
    opacity: 1;
}

.navLeft {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: 0;
    margin-left: 20px;
}

.navRight {
    display: flex;
}

.link, .logButt {
    padding: 5px;
    text-decoration: none;
    color: black;
}

.logButt {
    margin: 0 25px;
}

.link:hover, .logButt:hover {
    text-decoration: none;
    transform: scale(1.2);
}

.link:link, .logButt:link {
    text-decoration: none;
}