
.textName {
    border-bottom: 3px solid #3498FF;
    padding-bottom: 15px;
}

.main {
    height: 1000px;
    display: flex;
    justify-content: space-around;
}

.mainText {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    text-align: left;
    letter-spacing: .15em;
}


.main p {
    font-size: 30px;
}

@media screen and (max-width: 650px) {
    .main {
        height: 1200px;
        display: flex;
        flex-direction: column;
        /*align-items: center;*/
        justify-content: flex-start;
        margin-top: -200px;
    }

    .mainText {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .mainText p {
        font-size: 20px;
        width: 65%;
    }

    .mainText h1, .mainText h4{
        width: 65%;
    }


    .mainContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }


    .main img {
        margin-top: 150px;
    }

    .skillsIcons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skillsIcons div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .aboutMeBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info, .experience, .education {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 25px;
    }
    .info p, .experience p, .education p {
        width: 350px;
        text-align: center;
    }
}

.profileLogo {
    border-radius: 5%;
    margin-top: 150px;
    z-index: 1;
}

img {
    width: 350px;
    height: 500px;
}

.editImgBut {
    margin-top: 20px;
}

.editImgBut button{
    background-color: #3498FF;
    border-radius: 20px;
    padding: 15px;
    color: black;
}

@media screen and (max-width: 750px) {
    img {
        width: 250px;
        height:350px;
    }

}

.aboutMe {
    background-color: lightgray;
}

.aboutMeBlock {
    margin-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

.info, .experience, .education {
    width: 30%;
}

.skills {
    padding: 50px;
}

.skillsIcons {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
 }

.skillsIcons div {
    width: 30%;
    padding: 30px;
}

.iconElement {
    font-size: 50px;
    padding: 10px;
    color: black;
}


.contact {
    padding: 50px;
    background-color: lightgray;
}

.contactInp {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}


.footerIcons {
    margin-top: 50px;
}


.editableText {
    text-decoration: none;
}