.container {

}

.textName {
    border-bottom: 3px solid #3498FF;
    padding-bottom: 15px;
}

.main {
    height: 1000px;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 650px) {
    .main {
        height: 1500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 426px) {
    .main {
        height: 1500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.mainText {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    text-align: left;
    letter-spacing: .15em;
    width: 30%;
}

.profileLogo {
    border-radius: 5%;
    margin-top: 150px;
    z-index: 1;
}

img {
    width: 350px;
    height: 500px;
}

@media screen and (max-width: 750px) {
    img {
        width: 300px;
        height:400px;
    }

}

.aboutMe {
    background-color: lightgray;
}

.aboutMeBlock {
    margin-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

.info, .experience, .education {
    width: 30%;
}

.skills {
    padding: 50px;
}

.skillsIcons {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
 }

.skillsIcons div {
    width: 30%;
    padding: 30px;
}

.iconElement {
    font-size: 50px;
    padding: 10px;
}


.contact {
    padding: 50px;
    background-color: lightgray;
}

Form {
    margin-top: 50px;
}


.footer {

}

.footerIcons {
    margin-top: 50px;
}

.footerIcons a {
    color: black;
}