.container{
    background-color: #16c1ee;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: lightseagreen;
    width: 100%;
}

.navLeft {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: 0;
}

.navRight {
    display: flex;
}

.link, .logButt {
    padding: 5px;
    text-decoration: none;
    color: white;
}

.link:hover, .logButt:hover {
    text-decoration: none;
    transform: scale(1.2);
}

.link:link, .logButt:link {
    text-decoration: none;
}